*{
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
img{
    width: 100%;
}
.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    align-items: center;
}