*{
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
img{
    width: 100%;
}
.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 30px;
}
a{
    text-decoration: none;
}
.btn{
    margin-bottom: 20px;
    margin-top: 200px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid black;
    background-color: #EB9600;
    color: black;
    width: 21px;
    height: 30px;
    font-size: 20px;
    transition: .4s;
}
.btns{
    text-align: center;
}
.btn:hover{
    background-color: navajowhite;
}
.back-btn{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 120px;
}
.btn-primary{
    color: black;
    cursor: pointer;
    position: relative;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.circle-fill{
    position: absolute;
    top: 150px;
    left: 100px;
}
.circle-fill polygon{
    transition: .2s;
}
.circle-fill:hover polygon{
    fill: grey;
}
body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}
body.dark-mode {
    background-color: #1a1919;
    color: #999;
}
.box{
    transition: .6s;
    padding: 5px;
}
.box:hover{
    box-shadow: -1px -5px 32px 0 rgba(255, 255, 255, 0.2);
    transform: scale(0.9);
}
.trailer{
    margin-top: 30px;
}
input{
    background-color: whitesmoke;
    border: none;
    border-radius: 20px;
    height: 30px;
    opacity: 1.4;
    color: black;
    padding: 15px;
    font-size: 17px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 140px;
}
.header{
    background-color: #ffffff20;
    position: fixed;
    width: 100%;
}
.search-content{
    display: flex;
}
.search{
    width: 50px;
}