*{
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
    color: whitesmoke;
}
body{
    background-color: black;
}
img{
    width: 100%;
}
.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 30px;
}
a{
    text-decoration: none;
}
.btn{
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
}
.btn:hover{
    background-color: white;
}
.back-btn{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-primary{
    color: black;
    cursor: pointer;
    position: relative;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.circle-fill{
    position: absolute;
    top: 150px;
    left: 100px;
}
.circle-fill polygon{
    transition: .2s;
}
.circle-fill:hover polygon{
    fill: grey;
}